.welcome-content {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    background-color: white; 
}

.welcome-card {
    justify-content: center;
    align-items: center;
    width: 80%; 
    max-width: 400px; 
    padding: 20px; 
    background-color: lightskyblue; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    margin-left: 40px; 
}

.welcome-title {
    font-weight: bold; 
    font-size: 24px; 
    color: black;
}

.welcome-text p {
    margin: 10px 0; 
    color: black; 
}

.go-to-recipes-button {
    margin-top: 20px; 
}


  